.banner-top {
    width  : 100%;
    display: flex;

    .top-bar {
        width         : 97%;
        display       : flex;
        flex-direction: row-reverse;
        background    : $_lite_shark;
        box-shadow    : inset -4px -3px 5px rgba(0, 0, 0, .4);
        border-right  : 2px solid $_shark;
        padding:2.5px;
        .btn {
            padding:10px;
            padding-top:12px;
            box-shadow             : 0px -2px 5px rgba(0, 0, 0, .4);
            border-bottom          : 1px dashed darken($_shark, 1%);
            img{
                width:35px;
            }

        }

    }

}