@import './styles/colors.scss';
@import './styles/global.scss';
@import './styles/button.scss';
@import './styles/topbar.scss';
@import './styles/sidebar.scss';
@import './styles/logo.scss';
@import './styles/drawerhandle.scss';
@import './styles/editordrawer.scss';

.App {
    display       : flex;
    flex-direction: column;
}
   
.middle {
    z-index: 0;
    display: flex;
}

   

    .banner-bottom {
        z-index: 0;
        width     : 100%;
        height    : 3%;
        position  : fixed;
        bottom    : 0;
        background: $_lite_shark;
    }


.btn {
    background: $_shark;
    cursor    : pointer;

    &:hover {
        background: darken($_shark, 2%);
        

        .txt {

            color: $lambda_orange;
        }

    }
}


.txt {
    color      : $_lavander;
    font-weight: bold;
  

}

/* ::COLORS_KEY::{
    @pale-blue-magenta: #BB86FC;
    @deep-purple      : #3700b3;
    @vivid-cyan       : #03DAC6 ;

    @blue_90: #ccd9ff;
    @blue_70: #353844;

    @blue_50: #1a1b1f;

    @blue_30: #1d1e22;
    @blue_10: #1e1f26;
  } */